*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    background-color: rgb(110, 110, 102);
}
.link{
    back-ground:black;
}

h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center*2;
}


.countdown{
    display: flex;
    justify-content: space-around;
}

.day , .hour , .minute , .second{
    font-size: 3rem;
}

.wait{
    
    height: 50vh;
    padding: 20px;
    padding-left: 50vh;
    
}

/*   mini ipad view */
@media only screen and (max-width: 1200px) {
    body {
        display: flex;
        flex-direction: row;
      background-color: lightblue;
    }

    .coming-soon{
        display: flex;
        flex-direction: row;
    }
  
}     /*   medium devices view */
  @media only screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: row;
      background-color: rgb(172, 125, 26);
    }

    .coming-soon{
        display: flex;
        flex-direction: row;
    }
}
    /*   mobile phone view */
    @media only screen and (max-width: 600px) {
        body {
            display: flex;
            flex-direction: row;
          background-color: rgb(80, 75, 75);
        }
        .coming-soon{
            display: flex;
            flex-direction: row;
        }
  }
